.Weather {
  background: linear-gradient(120deg, #1a0010 0%, #fa0160 100%);
  border-radius: 4px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white; /* Change text color to white */
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Weather .form-search-bar {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  background-color: rgba(31, 36, 43, 0.084);
  color: white; /* Change input text color to white */
}

.Weather .form-search-bar::placeholder {
  color: white; /* Change placeholder text color to white */
}

.Weather .search-button {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(31, 36, 43, 0.806);
  border-radius: 4px;
  background-color: rgba(31, 36, 43, 0.806);
  color: white;
}

.Weather .search-button:hover {
  background-color: white;
  color: rgba(31, 36, 43, 0.853);
}

.Weather h1 {
  font-size: 48px;
  color: white; /* Change h1 text color to white */
}

.Weather .weather-overview {
  align-items: center;
  color: white; /* Change overview text color to white */
}

.Weather .weather-overview-right {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Weather img {
  width: 100px;
  height: 100px;
}

.Weather .temperature {
  font-size: 75px;
  color: white; /* Change temperature text color to white */
}

.Weather .units {
  font-size: 20px;
  position: relative;
  top: -41px;
  color: white; /* Change units text color to white */
}

.Weather h1 {
  margin-top: 20px;
  color: white; /* Change h1 text color to white */
}

.Weather ul {
  margin: 0;
  padding: 0;
  color: white; /* Change list text color to white */
}

.Weather li {
  list-style: none;
  color: white; /* Change list item text color to white */
}

.Weather .additional-details {
  margin-top: 5px;
}

.Weather .additional-details li {
  display: inline;
  margin-right: 10px;
  color: white; /* Change additional details text color to white */
}

.Weather .additional-details-measurements {
  font-weight: bold;
  color: white; /* Change additional details measurements text color to white */
}

@media (max-width: 767px) {
  .Weather {
    text-align: center;
  }

  .Weather .weather-overview {
    margin-top: 20px;
  }

  .Weather h1 {
    font-size: 40px;
    color: white; /* Change h1 text color to white */
  }

  .Weather li {
    display: inline-block;
    margin: 10px;
    color: white; /* Change list item text color to white */
  }

  .Weather .weather-overview-right {
    margin-top: 10px;
  }

  .Weather img {
    width: 70px;
    height: 70px;
  }

  .Weather .temperature {
    font-size: 50px;
    color: white; /* Change temperature text color to white */
  }

  .Weather .units {
    font-size: 19px;
    position: relative;
    top: -30px;
    color: white; /* Change units text color to white */
  }
}
